body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #272727;
    padding-top: 24px;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

.yellow {
    display: inline-block;
    font-size: 1.25rem;
    color: yellow;
    background: gray;
    border-radius: 7px;
    padding: 8px;
    margin: 8px;
}

.yellow,
.game {
    font-family: monospace;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: 1px solid lightgray;
    border-radius: 12px;
    background: lightblue;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    padding: 24px;
}

.game-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #133e6e;
    font-weight: bold;
}

.instruction-display-wrapper {
    display: flex;
    gap: 24px;
}

.game,
.instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: white;
    border: 1px solid #cacaca;
    border-radius: 10px;
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.25);
    padding: 24px;
    color: gray;
}

.how-to-toggle {
    display: none;
    border: none;
    background: #133e6e;
    color: white;
    border-radius: 10px;
    padding: 10px 16px;
    cursor: pointer;
    font-weight: bold;
}

.instructions ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.instructions li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 14px;
    text-align: center;
    border-radius: 10px;
    border: 2px dashed #133e6e;
    background: lightgray;
    color: #133e6e;
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 15px;
}

.buttons button {
    border: none;
    background: #133e6e;
    color: white;
    border-radius: 12px;
    padding: 12px 20px;
    cursor: pointer;
}

.buttons button:hover {
    transform: translateY(-2px);
    filter: brightness(130%);
}

.display {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 320px;
    height: 200px;
    padding: 4px;
    background-image: url('images/bricks.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: yellow;
    font-size: 1.75rem;
    font-weight: bold;
}

@media only screen and (max-width: 900px) {

    body {
        justify-content: flex-start;
        align-items: flex-start;
        overflow-y: auto;
        padding-top: 12px;
    }

    .card {
        padding: 3px;
    }

    .instruction-display-wrapper {
        flex-direction: column;
        gap: 12px;
    }

    .game-title {
        flex-direction: column;
    }

    .game-title {
        gap: 4px;
    }

    .game,
    .instructions {
        gap: 16px;
        padding: 12px;
    }

    .how-to-toggle {
        display: block;
        margin: 0 auto;
        padding: 18px 60px;
    }

    .instructions {
        display: none;
    }

    .instructions.open {
        display: flex;
    }

    .instructions li {
        height: 40px;
        padding: 8px;
    }
}